<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"
     >
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div layout:fragment="content1" >
<div class="container-fluid">
    <div class="card text-center m-lg-5">
        <div class="card-header">
            <h1></h1>
        </div>
        <div class="card-body">
            <h1 class="card-title">Welcome!</h1>

        </div>
        <div class="card-footer text-muted">
            Ⓒ medical Center
        </div>
    </div>
</div>
 </div>

</body>
</html>